body * {
  display: flex;
  box-sizing: border-box;
}

page {
  /* A4 */
  width: 21cm;
  background: white;
  margin: 0 auto;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
}

body {
  background: lightgray;
  width: 21cm;
  margin: 0 auto;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
}

@media print {
  body,
  page {
    background: white;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

@page :first {
  size: 21cm 29.7cm;
  margin: 0;
  margin-bottom: 2cm;
}

@page {
  margin: 0;
  margin-top: 2cm;
  margin-bottom: 2cm;
}

h1,
h2,
h3,
h4,
h5 {
  page-break-after: avoid;
}
